<%- include('_adminHeader')%>
  <div class="container">
    <h3 class="display-6 my-5 text-center">Company: Alert Security & Patrol</h3>
    <p class="lead text-center">
      Pull completed shifts where start <em>time</em> lies between
      <input type="text" name="daterange">
    </p>
    <p class="lead text-center">
      Narrow down by site <select>
        <option selected>Choose</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </p>
    <p class="text-center">
      <button class="btn btn-primary btn-lg ">Pull Shift</button>
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Site name</th>
          <th scope="col">Employee name </th>
          <th scope="col">Location</th>
          <th scope="col">Shift start date <br>(<small class="text-muted">click for details</small>)</th>
          <th scope="col">Regular Time (hrs)</th>
          <th scope="col">Overtime Time (hrs)</th>
          <th scope="col">Doubble overtime Time (hrs)</th>
          <th scope="col">Unpaid breaks missed or late</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr class="text-center">

          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr class="text-center">

          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>

      </tbody>
    </table>
  </div>
  <%- include('_adminFooter') %>